* {
  box-sizing: border-box;
  word-break: break-word;
  font-family: Inter, sans-serif;
  line-height: 1.6rem;
}

body {
  margin: 32px auto;
  padding: 32px;
  width: 100%;
  max-width: 800px;
  font-size: 12pt;
}

p {
  margin: 16px 0;
}

@mixin headers {
  margin: 32px 0;
  font-family: Montserrat, Inter, sans-serif;
}

h1 {
  @include headers;
  font-size: 36pt;
  line-height: 3.0rem;
}

h2 {
  @include headers;
  font-size: 24pt;
  line-height: 2.6rem;
}

h3 {
  @include headers;
  font-size: 20pt;
  line-height: 2.4rem;
}

h4 {
  @include headers;
  font-size: 18pt;
  line-height: 2.2rem;
}
